h1,h2,h3,h4,h5,h6{
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  color: #133039;
}
h1{}
h2{font-size: 40px;}
.project-box{
  width:100%;
  height: 356px;
  background-image:url(https://picsum.photos/570/356);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin-bottom: 50px;
}
.border-lime{
  box-shadow: -10px 10px #00f69b;
}
.border-yellow{
  box-shadow: -10px 10px #ffea00;
}
.border-purple{
  box-shadow: -10px 10px #a12ad0;
}
.border-blue{
  box-shadow: -10px 10px #3066d9;
}
.negative-margin{
  margin-top: -200px;
}
.stagger{
  margin-top: 100px;
  margin-bottom: 30px;
}
.grey-bg::before{
    content: '';
    width: 100%;
    width: calc(100% - 100px);
    height: 100%;
    height: calc(100% - 200px);
    background-color: #f3f5f5;
    position: absolute;
    top: 80px;
    left: 50px;
    right: 50px;
}
.body-pad{
  padding-left: 50px;
  padding-right: 50px;
  position: relative;
}
footer{
  width: 100%;
  height: 400px;
  background: #133039;
}