h1,h2,h3,h4,h5,h6{
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
}
h1{font-size: 72px;font-family: 'Roboto Condensed', sans-serif;}
h2{font-size: 40px;}
body{
  color: #133039;
}
.project-box{
  width:100%;
  height: 356px;
  background-image:url(https://picsum.photos/570/356);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin-bottom: 50px;
}
.border-lime{
  box-shadow: -10px 10px #00f69b;
}
.border-yellow{
  box-shadow: -10px 10px #ffea00;
}
.border-purple{
  box-shadow: -10px 10px #a12ad0;
}
.border-blue{
  box-shadow: -10px 10px #3066d9;
}
.negative-margin{
  margin-top: -200px;
}
.stagger{
  margin-top: 100px;
  margin-bottom: 30px;
}
.grey-bg::before{
    content: '';
    width: 100%;
    width: calc(100% - 100px);
    height: 100%;
    height: calc(100% - 200px);
    background-color: #f3f5f5;
    position: absolute;
    top: 80px;
    left: 50px;
    right: 50px;
}
.body-pad{
  padding-left: 50px;
  padding-right: 50px;
  position: relative;
}
footer{
  width: 100%;
  height: 400px;
  color: #fff;
  background: #133039;
  position: relative;
}
.banner-home{
  width: 100%;
  height: 700px;
  color: #133039;
  background-color: #00f69b;
  text-transform: uppercase
}
nav{
  font-family: 'Open Sans', sans-serif;
}

.svg-rotate{
  transition: transform .6s;
  cursor: pointer;
}

.svg-rotate:hover{
  transform: rotate3d(0,0,1,360deg);
}

@-webkit-keyframes play60 {
  0% {
    background-position: 0px 0px;
  }
  25% {
    background-position: 720px 0px;
  }
  50% {
    background-position: -1440px 0px;
  }
  75% {
    background-position: -720px 0px;
  }
  100% {
    background-position: 0px 0px;
  }
}
@keyframes play60 {
  0% {
    background-position: 0px 0px;
  }
  50% {
    background-position: -1440px 0px;
  }
  100% {
    background-position: 0px 0px;
  }
}
.shapeshifter {
  -webkit-animation-duration: 1000ms;
          animation-duration: 1000ms;
  -webkit-animation-timing-function: steps(60);
          animation-timing-function: steps(60);
  width: 24px;
  height: 24px;
  background-repeat: no-repeat;
  background-image: url(/images/sprite_60fps.svg);
}
.shapeshifter:hover {
  -webkit-animation-name: play60;
          animation-name: play60;
}